<html>
    <body >

        <center>

        <h1> AUTO ML  </h1><br>
            <h2> (FOR ANY REGRESSION MODEL)</h2>
            <h4>import the csv file of only the cleaned data only</h4>
            <link rel = "stylesheet" type="text/css" href="static/style.css">

        <form class=" " method="POST", action="data">
           <b> import csv:  <input type="file", name='csvfile', placeholder="enter 1"> <br><br>
               <label="select an algoritm">choose an algoritm:</label>
               <select id="select an algoritm" name="select an algoritm">
                   <option value="select">select</option>
                   <option value="linear regression">linear regression</option>
                   <option value="decision tree regressor">decision tree regressor</option>
                   <option value="random forest regressor">random forest regressor</option>




         </select>
            <input type="submit"  name="" value='submit' >
        </form>

             <br>
             <br>



        </center>

    </body>
</html>

